<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.windowairfresh">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".popup_set_dust"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".popup_set_temp"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>

        <service
            android:name=".AutoService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".AddressActivity" />
        <activity
            android:name=".HelpActivity2"
            android:theme="@style/AppTheme.help" />
        <activity android:name=".ActlogActivity" />
        <activity
            android:name=".HelpActivity"
            android:theme="@style/AppTheme.help" />
        <activity android:name=".AlarmReceiver" /> <!-- dhkim start -->
        <activity android:name=".WindowNameActivity" /> <!-- dhkim end -->
        <activity
            android:name=".Popup_warning"
            android:theme="@style/Transparent" /> <!-- android:theme="@android:style/Theme.NoTitleBar" -->
        <activity android:name=".BluetoothOnActivity" />
        <activity android:name=".AutoSetActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".WindowlistActivity" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".AlarmSpinnerActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity
            android:name=".DeviceListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>