<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.windowairfresh">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cookandroid.windowairfresh.ActlogActivity"/>
        <activity android:name="com.cookandroid.windowairfresh.ConnpopupActivity" />
        <activity android:name="com.cookandroid.windowairfresh.SetalarmActivity" />
        <activity android:name="com.cookandroid.windowairfresh.FinalarmActivity" />
        <activity android:name="com.cookandroid.windowairfresh.AlarmActivity" />
        <activity android:name="com.cookandroid.windowairfresh.AutoSetActivity" />
        <activity android:name="com.cookandroid.windowairfresh.WindowlistActivity"/>
        <activity android:name="com.cookandroid.windowairfresh.ListViewItem"/>
        <activity
            android:name="com.cookandroid.windowairfresh.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cookandroid.windowairfresh.MainActivity"/>
    </application>

</manifest>